/build/OpenLayers.js
/tools/closure-compiler.jar
/tools/*.pyc
/apidoc_config/Data/
/doc/apidocs/
/examples/example-list.js
/examples/example-list.xml
.sass-cache
.DS_Store
/theme/.DS_Store
/theme/norgeskart/.DS_Store