#overview-container-panel .olControlOverviewMapExpandableToggleSizeButton,
#fullscreen-panel button, #language-button, #zoom-panel button,
#pan-panel .olButton, #search-panel .nkButton,
#searchResults .result-paging button, #geoportal-panel .nkButton,
#addlayer .nkButton, #draw-panel .nkButton, #draw-panel .widget ul button,
#transformations-panel .nkButton, #print-panel .nkButton, #getURL-panel .nkButton,
#embed-panel .nkButton, #embed-panel .step-specific.type button,
#export-panel .nkButton, #help-panel .nkButton,
.wrapper .cnt .buttons-panel button, .user-marker button, .heading .close,
#layerList .layersDiv > div button, #layerList .availableDiv button, .times,
#embed-basic-toolbar .collapse-toolbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px; }

  #fullscreen-panel button, #zoom-panel button, #search-panel .nkButton,
  #geoportal-panel .nkButton, #addlayer .nkButton, #draw-panel .nkButton,
  #transformations-panel .nkButton, #print-panel .nkButton, #getURL-panel .nkButton,
  #embed-panel .nkButton, #export-panel .nkButton, #help-panel .nkButton,
  #embed-basic-toolbar .collapse-toolbar-toggle {
    background-color: #7da1c4;
    height: 30px;
    padding: 5px;
    width: 30px; }
    #fullscreen-panel button:hover, #zoom-panel button:hover,
    #search-panel :hover.nkButton, #geoportal-panel :hover.nkButton,
    #addlayer :hover.nkButton, #draw-panel :hover.nkButton,
    #transformations-panel :hover.nkButton, #print-panel :hover.nkButton,
    #getURL-panel :hover.nkButton, #embed-panel :hover.nkButton,
    #export-panel :hover.nkButton, #help-panel :hover.nkButton,
    #embed-basic-toolbar :hover.collapse-toolbar-toggle {
      background-color: #fe5000; }
      #fullscreen-panel button .icon, #zoom-panel button .icon,
      #search-panel .nkButton .icon, #geoportal-panel .nkButton .icon,
      #addlayer .nkButton .icon, #draw-panel .nkButton .icon,
      #transformations-panel .nkButton .icon, #print-panel .nkButton .icon,
      #getURL-panel .nkButton .icon, #embed-panel .nkButton .icon,
      #export-panel .nkButton .icon, #help-panel .nkButton .icon,
      #embed-basic-toolbar .collapse-toolbar-toggle .icon {
        fill: white;
        height: 100%;
        width: 100%; }

#fullscreen-panel, #zoom-panel, #search-panel, #geoportal-panel, #addlayer,
#draw-panel, #transformations-panel, #print-panel, #getURL-panel, #embed-panel,
#export-panel, #help-panel {
  background-color: rgba(223, 220, 218, 0.8);
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  width: 40px; }

  #geoportal-panel .widget, #addlayer .widget, #draw-panel .widget,
  #transformations-panel .widget, #getURL-panel .widget, #embed-panel .widget,
  #export-panel .widget, #help-panel .widget {
    background-color: #dfdcda;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0px; }

    .hidden {
      display: none !important; }

      .pull-left {
        float: left; }

        .pull-right {
          float: right; }

          html, body {
            height: 100%;
            widht: 100%; }

            html {
              font-size: 10px; }

              body {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                margin: 0px;
                padding: 0px; }

                .geonorge-simple {
                  background-color: rgba(255, 255, 255, 0.9);
                  border-bottom: solid 1px #fe5000;
                  box-sizing: border-box;
                  height: 90px;
                  left: 0px;
                  position: fixed;
                  top: 0px;
                  width: 100%;
                  z-index: 9999; }
                  .geonorge-simple .wrapper {
                    margin: 0px auto;
                    width: 940px; }
                    .geonorge-simple .logo {
                      height: 60px;
                      padding: 15px; }
                      .geonorge-simple .breadcrumbs {
                        height: 30px;
                        padding: 0px 15px; }
                        .geonorge-simple .breadcrumbs ul {
                          font-family: "Raleway", sans-serif;
                          font-size: 14px;
                          font-weight: 500;
                          height: 30px;
                          line-height: 30px;
                          list-style-type: none;
                          margin: 0px;
                          padding: 0px; }
                          .geonorge-simple .breadcrumbs li {
                            float: left; }
                            .geonorge-simple .breadcrumbs li.arrowed {
                              background-image: url(img/breadcrumb-arrow.svg);
                              background-position: 0px 50%;
                              background-repeat: no-repeat;
                              background-size: 8px 8px;
                              margin-left: 6px;
                              padding-left: 14px; }
                        .geonorge-simple .breadcrumbs a {
                          color: #3867c8;
                          text-decoration: none; }
                          .geonorge-simple .breadcrumbs a:hover {
                            text-decoration: underline; }

.fullscreen .geonorge-simple {
  display: none; }

.toolbar {
  position: absolute; }

  .panel-name {
    display: none; }

    .olControlScaleLine {
      bottom: 10px;
      left: 80px;
      z-index: 1000 !important; }

      #overview-container-panel {
        bottom: 10px;
        position: absolute;
        right: 10px;
        z-index: 900; }
        #overview-container-panel .olControlOverviewMapExpandableElement {
          background-color: #dfdcda;
          border: solid 1px #fe5000; }
          #overview-container-panel .olControlOverviewMapExpandableExtentRectangle {
            background-color: rgba(254, 80, 0, 0.1);
            border: dotted 1px #fe5000;
            box-sizing: border-box; }
            #overview-container-panel .olControlOverviewMapExpandableToggleSizeButton {
              height: 12px;
              left: 3px;
              position: absolute;
              top: 3px;
              width: 12px; }
              #overview-container-panel .olControlOverviewMapExpandableToggleSizeButton .icon {
                height: 12px;
                width: 12px; }
                #overview-container-panel .olControlOverviewMapExpandableToggleSizeButton .icon.expand {
                  display: block; }
                  #overview-container-panel .olControlOverviewMapExpandableToggleSizeButton .icon.minimize {
                    display: none; }
        #overview-container-panel.maximized-size .icon.expand {
          display: none; }
          #overview-container-panel.maximized-size .icon.minimize {
            display: block; }

#basic-toolbar, #top-toolbar, #misc-toolbar {
  top: 100px; }

  #embed-basic-toolbar {
    top: 10px; }

    .fullscreen #basic-toolbar, .fullscreen #top-toolbar, .fullscreen #misc-toolbar,
    .fullscreen #embed-basic-toolbar {
      top: 10px; }

#basic-toolbar, #bottom-toolbar, #embed-basic-toolbar {
  left: 10px; }
  #basic-toolbar .widget, #bottom-toolbar .widget, #embed-basic-toolbar .widget {
    left: 60px; }

#basic-toolbar {
  z-index: 1004; }

  #top-toolbar {
    right: 10px;
    z-index: 1003; }
    #top-toolbar .widget {
      right: 60px; }

#bottom-toolbar {
  bottom: 10px;
  z-index: 1001; }

  #misc-toolbar {
    left: 60px;
    z-index: 1002; }

    #embed-basic-toolbar {
      z-index: 1005; }

      #fullscreen-panel .fullscreen-button .fullscreen {
        display: inline-block; }
        #fullscreen-panel .fullscreen-button .windowed {
          display: none; }
      #fullscreen-panel .fullscreen-active .fullscreen {
        display: none; }
        #fullscreen-panel .fullscreen-active .windowed {
          display: inline-block; }

#geonorge-logo-panel {
  display: none;
  left: 60px;
  position: fixed;
  top: 10px; }
  #geonorge-logo-panel a {
    height: 20px;
    display: block; }
    #geonorge-logo-panel img {
      border: none;
      display: block;
      height: 20px; }

.fullscreen #geonorge-logo-panel {
  display: block; }

#language-button {
  background-color: #7da1c4;
  color: white;
  width: 100%; }
  #language-button:hover {
    background-color: #fe5000; }

#layerselector-panel .vectorWidgetToggleBtn {
  background-image: url('img/raster-thumbs.png');
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-shadow: 0px 1px 1px black;
  width: 60px; }
  #layerselector-panel .layersDiv {
    position: relative; }
    #layerselector-panel .widget {
      bottom: 0px;
      display: none;
      left: 100%;
      position: absolute; }
      #layerselector-panel .show .widget {
        display: block; }
#layerselector-panel .dataLayersDiv {
  background-color: #7da1c4;
  padding: 5px; }
  #layerselector-panel .dataLayersDiv ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 60px; }
    #layerselector-panel .dataLayersDiv li {
      background-image: url('img/raster-thumbs.png');
      background-repeat: no-repeat;
      display: block;
      height: 50px;
      margin: 0px;
      padding: 0px;
      position: relative;
      width: 60px; }
      #layerselector-panel .dataLayersDiv li input {
        position: absolute;
        visibility: hidden; }
        #layerselector-panel .dataLayersDiv li label {
          background-color: rgba(0, 0, 0, 0.4);
          color: white;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          text-shadow: 0px 1px 1px black;
          width: 60px; }
          #layerselector-panel .dataLayersDiv li label.for-checked {
            background-color: rgba(0, 0, 0, 0.2);
            font-weight: 700; }

#zoom-panel {
  left: auto !important;
  top: auto !important; }
  #zoom-panel.zoom-to-selection-selected .zoom-to-selection-button {
    background-color: #fe5000; }
  #zoom-panel .zoombar-and-buttons-wrapper {
    margin-bottom: 10px; }
    #zoom-panel .zoombar-and-buttons-wrapper .sliderWrapper {
      display: none;
      height: 96px;
      margin-bottom: 10px;
      position: relative; }
      #zoom-panel .zoombar-and-buttons-wrapper .track {
        background-color: #414042;
        margin-left: 13px;
        left: auto !important;
        top: auto !important; }
        #zoom-panel .zoombar-and-buttons-wrapper .slider {
          background-color: #7da1c4;
          left: 5px !important; }
          #zoom-panel .zoombar-and-buttons-wrapper .slider span {
            background: rgba(255, 255, 255, 0.9);
            display: none;
            height: 19px;
            left: calc(100% + 5px);
            line-height: 19px;
            padding: 0px 5px;
            position: absolute;
            top: -5px; }
            #zoom-panel .zoombar-and-buttons-wrapper .slider:hover {
              background-color: #fe5000; }
              #zoom-panel .zoombar-and-buttons-wrapper .slider:hover span {
                display: block; }

#pan-panel {
  height: 60px;
  position: relative;
  width: 60px; }
  #pan-panel .olButton {
    background-color: #7da1c4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    width: 20px; }
    #pan-panel .olButton:hover {
      background-color: #fe5000; }
  #pan-panel .olControlPanNorthItemInactive {
    background-image: url(img/arrow-n.svg);
    left: 20px;
    top: 5px; }
    #pan-panel .olControlPanSouthItemInactive {
      background-image: url(img/arrow-s.svg);
      left: 20px;
      top: 35px; }
      #pan-panel .olControlPanEastItemInactive {
        background-image: url(img/arrow-e.svg);
        left: 35px;
        top: 20px; }
        #pan-panel .olControlPanWestItemInactive {
          background-image: url(img/arrow-w.svg);
          left: 5px;
          top: 20px; }

#search-panel .searchDiv {
  display: none;
  left: 50%;
  margin-left: -150px;
  position: fixed;
  top: 100px;
  width: 300px; }
  #search-panel .searchDiv form {
    background-color: #dfdcda;
    height: 30px;
    padding: 10px; }
    #search-panel .searchDiv form input, #search-panel .searchDiv form button {
      background: white;
      border: none;
      box-sizing: border-box;
      float: left;
      height: 30px; }
      #search-panel .searchDiv form input {
        padding: 0px 10px;
        width: 250px; }
        #search-panel .searchDiv form button {
          cursor: pointer;
          fill: #dfdcda;
          padding: 3px 3px 0px 6px;
          width: 30px; }
#search-panel.active .nkButton {
  background-color: #fe5000; }
  #search-panel.active .searchDiv {
    display: block; }

#searchResults {
  background-color: #dfdcda;
  height: 400px;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  overflow-y: scroll; }
  #searchResults .close {
    display: block;
    float: right;
    height: 16px;
    margin: 2px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px; }
    #searchResults .close svg {
      float: none;
      fill: none;
      margin: 0px;
      stroke: black; }
  #searchResults .result-paging {
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px; }
    #searchResults .result-paging button {
      background: #7da1c4;
      color: white;
      float: right;
      font-size: 1.2rem;
      height: 20px;
      margin-right: 10px;
      padding: 0px 6px; }
      #searchResults .result-paging button:hover {
        background-color: #fe5000; }
  #searchResults .result-category {
    margin-top: 10px; }
    #searchResults .result-category .icon {
      display: inline-block;
      height: 20px;
      vertical-align: bottom;
      width: 20px; }
      #searchResults .result-category h2 {
        display: inline-block;
        font-size: 1.4rem;
        height: 20px;
        margin: 0px 0px 0px 10px; }
        #searchResults .result-category ul {
          font-size: 1.1rem;
          list-style-type: none;
          margin-top: 5px;
          padding: 0px; }
          #searchResults .result-category li {
            cursor: pointer;
            min-height: 18px;
            line-height: 18px;
            margin-bottom: 2px;
            word-break: keep-all; }
            #searchResults .result-category li .municipality-name {
              font-weight: 700; }
              #searchResults .result-category li select {
                background: white;
                border: none;
                float: right;
                font-size: 1.1rem;
                height: 18px; }

#geoportal-panel .widget {
  max-height: calc( 100% - 110px ); }
  #geoportal-panel.active .nkButton {
    background-color: #fe5000; }
    #geoportal-panel.active .widget {
      display: block; }

#addlayer.active .nkButton {
  background-color: #fe5000; }
  #addlayer.active .widget {
    display: block; }

#draw-panel .widget {
  bottom: 10px; }
  #draw-panel .widget ul {
    list-style: none;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    width: 80px; }
    #draw-panel .widget ul li {
      margin-bottom: 5px;
      margin-left: 20px;
      margin-right: 20px;
      width: 40px; }
      #draw-panel .widget ul li span {
        display: none; }
        #draw-panel .widget ul li.text-only {
          margin-left: 0px;
          margin-right: 0px;
          width: 80px; }
          #draw-panel .widget ul li.text-only span {
            display: block; }
    #draw-panel .widget ul button {
      background-color: #7da1c4;
      color: white;
      font-weight: 700;
      height: 40px;
      padding: 5px;
      width: 100%; }
      #draw-panel .widget ul button:hover, #draw-panel .widget ul button.active {
        background-color: #fe5000; }
        #draw-panel .widget ul button svg {
          fill: white;
          height: 30px;
          stroke: white;
          width: 30px; }
  #draw-panel .widget .measures dt {
    display: none;
    font-weight: 700; }
    #draw-panel .widget .measures dd {
      display: none;
      margin: 0px; }
      #draw-panel .widget .measures.point .lat, #draw-panel .widget .measures.point .lon {
        display: block; }
  #draw-panel .widget .measures.line .lat, #draw-panel .widget .measures.line .lon,
  #draw-panel .widget .measures.line .length {
    display: block; }
  #draw-panel .widget .measures.area .lat, #draw-panel .widget .measures.area .lon,
  #draw-panel .widget .measures.area .length,
  #draw-panel .widget .measures.area .area {
    display: block; }
#draw-panel.active .nkButton {
  background-color: #fe5000; }
  #draw-panel.active .widget {
    display: block; }

#transformations-panel .widget {
  bottom: 10px; }
  #transformations-panel.active .nkButton {
    background-color: #fe5000; }
    #transformations-panel.active .widget {
      display: block; }

#print-panel .widget {
  display: none; }

#getURL-panel.active .nkButton {
  background-color: #fe5000; }
  #getURL-panel.active .widget {
    display: block; }

#embed-panel .widget {
  bottom: 10px; }
  #embed-panel .active .nkButton {
    background-color: #fe5000; }
    #embed-panel .active .widget {
      display: block; }
#embed-panel .cnt {
  width: 450px; }
  #embed-panel .step-specific.type button {
    background-color: #7da1c4;
    border-radius: 10px;
    height: 210px;
    margin: 1%;
    padding: 10px;
    vertical-align: top;
    width: 48%; }
    #embed-panel .step-specific.type button:hover {
      background-color: #fe5000; }
      #embed-panel .step-specific.type button span {
        color: white; }
  #embed-panel .step-specific.type .illustration {
    stroke: white;
    width: 100%; }
    #embed-panel .step-specific.type + .buttons-panel {
      display: none; }

#export-panel .widget {
  bottom: 10px; }
  #export-panel .active .nkButton {
    background-color: #fe5000; }
    #export-panel .active .widget {
      display: block; }
#export-panel .cnt {
  width: 300px; }

#help-panel.active .nkButton {
  background-color: #fe5000; }
  #help-panel.active .widget {
    display: block; }

.wrapper .cnt {
  box-sizing: border-box;
  padding: 20px;
  position: relative; }
  .wrapper .cnt header {
    position: relative; }
    .wrapper .cnt h1 {
      color: #5d4777;
      font-family: "Raleway", sans-serif;
      font-size: 3.2rem;
      font-weight: 300;
      margin: 0px 0px 15px 0px;
      position: relative; }
      .wrapper .cnt h1:after {
        border-bottom: solid 2.5px #fe5000;
        content: "";
        height: 2.5px;
        left: 0px;
        margin-top: 4rem;
        position: absolute;
        width: 50px; }
  .wrapper .cnt h2 {
    color: #414042;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px; }
    .wrapper .cnt p {
      font-size: 1.2rem;
      margin-bottom: 1rem; }
      .wrapper .cnt table {
        border-collapse: collapse;
        border-spacing: 0px;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        width: 100%; }
        .wrapper .cnt table th, .wrapper .cnt table td {
          border: solid 1px black;
          padding: 4px;
          text-align: left; }
  .wrapper .cnt .progress {
    height: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px; }
    .wrapper .cnt .progress li {
      background-color: #7da1c4;
      border-radius: 50%;
      color: white;
      display: block;
      float: left;
      font-size: 0;
      height: 20px;
      margin-left: 5px;
      line-height: 20px;
      text-align: center;
      width: 20px; }
      .wrapper .cnt .progress li .step-number {
        cursor: default;
        font-size: 1.1rem;
        font-weight: 700; }
    .wrapper .cnt .progress.info-active .info,
    .wrapper .cnt .progress.earea-active .earea,
    .wrapper .cnt .progress.format-active .format,
    .wrapper .cnt .progress.type-active .type,
    .wrapper .cnt .progress.terms-active .terms,
    .wrapper .cnt .progress.area-active .area,
    .wrapper .cnt .progress.markers-active .markers,
    .wrapper .cnt .progress.descriptions-active .descriptions,
    .wrapper .cnt .progress.preview-active .preview,
    .wrapper .cnt .progress.output-active .output {
      background-color: #fe5000; }
  .wrapper .cnt .buttons-panel {
    border-top: solid 1px #7da1c4;
    margin-top: 10px;
    padding-top: 15px; }
    .wrapper .cnt .buttons-panel button {
      background-color: #7da1c4;
      color: white;
      margin-right: 5px;
      padding: 5px; }
      .wrapper .cnt .buttons-panel button:hover {
        background-color: #fe5000; }
        .wrapper .cnt .buttons-panel button.next {
          float: right; }

.user-marker {
  background-color: #dfdcda; }
  .user-marker .edit-popup-content {
    height: 45px;
    width: 280px; }
    .user-marker input {
      border: none;
      box-sizing: border-box;
      display: block;
      font-size: 12px;
      height: 20px;
      margin-bottom: 5px;
      padding: 0px 5px;
      width: 100%; }
      .user-marker button {
        background-color: #7da1c4;
        color: white;
        font-size: 12px;
        height: 20px;
        margin-right: 2%;
        width: 49%; }
        .user-marker button:last-child {
          margin-right: 0; }
          .user-marker button:hover {
            background-color: #fe5000; }

.getURLcontent .page-url {
  background: white;
  font-family: monospace;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 5px;
  word-break: keep-all; }
  .getURLcontent > span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    vertical-align: top; }
    .getURLcontent .share-link {
      display: inline-block;
      margin-left: 10px; }
      .getURLcontent .share-link span {
        display: none; }
        .getURLcontent .share-link .icon {
          fill: #414042;
          height: 25px;
          width: 25px; }
          .getURLcontent .share-link:hover .icon {
            fill: #fe5000; }

.embedLight {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  position: fixed;
  top: 90px;
  z-index: 800; }

  #embedLightOFbase {
    bottom: 0;
    right: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: RGB(240, 240, 240) none repeat 0 0; }

    #embedLightOFsquare {
      border: 1px solid RGB(0, 0, 0);
      background: transparent none repeat 0 0; }

      #embedLightOFtop {
        z-index: 810; }

        #embedLightOFbottom {
          z-index: 810; }

          .markers-list {
            font-size: 12px;
            padding-left: 15px; }
            .markers-list li {
              height: 20px;
              line-height: 20px; }
              .markers-list li span {
                color: #414042; }
            .markers-list .remove-marker {
              display: block;
              float: right;
              height: 16px;
              margin: 2px;
              width: 16px; }
              .markers-list .remove-marker .icon {
                fill: transparent;
                height: 100%;
                stroke: #7da1c4;
                stroke-width: 3px;
                width: 100%; }
                .markers-list .remove-marker:hover .icon {
                  stroke: #fe5000; }
                  .markers-list .remove-marker span {
                    display: none; }

textarea.form-control, select.form-control, input.form-control {
  background: white;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  height: 20px;
  margin-bottom: 5px;
  padding: 0px 5px;
  width: 100%; }

textarea.form-control {
  font-family: "Open Sans", sans-serif;
  height: 60px;
  resize: none; }

button.btn {
  background: #7da1c4;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 12px;
  height: 20px; }
  button.btn:hover {
    background: #fe5000; }

label.lbl {
  display: block;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 4px; }

fieldset.fld {
  border: solid 1px #7da1c4;
  margin: 15px 0; }
  fieldset.fld legend {
    font-size: 11px;
    font-weight: 700; }

.radio {
  height: 20px;
  line-height: 20px;
  margin-right: 10px; }
  .radio input {
    margin: 0px 4px 0px 0px;
    vertical-align: sub; }

.form-help {
  color: #414042;
  font-style: italic;
  margin-bottom: 10px;
  text-align: right; }

  .fullscreen .widget {
    bottom: auto !important;
    margin-top: 10px !important; }

#transformations-output {
  font-size: 1.2rem; }
  #transformations-output .output-label, #transformations-output .output-value {
    box-sizing: border-box;
    display: inline-block; }
    #transformations-output .output-label {
      width: 33%; }
      #transformations-output .output-value {
        font-weight: 700;
        width: 67%; }

.heading {
  position: relative; }
  .heading .close {
    position: absolute;
    right: 0px;
    top: 0px; }

.tabs nav {
  border-bottom: solid 1px #fe5000;
  height: 20px;
  line-height: 20px; }
  .tabs nav a {
    background: #7da1c4;
    border-radius: 5px 5px 0px 0px;
    color: white;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    text-decoration: none; }
    .tabs nav a.active {
      background: #fe5000; }
.tabs .tab {
  display: none; }
  .tabs .tab.active {
    display: block; }

#layerList .layersDiv > div {
  font-weight: 700;
  margin: 10px 0px; }
#layerList .layersDiv table th, #layerList .layersDiv table td {
  border: none;
  padding: 0px; }
#layerList .availableDiv button svg {
  fill: none;
  height: 18px;
  stroke: black;
  stroke-width: 3px;
  width: 18px; }
  #layerList .availableDiv button svg.selected {
    fill: black; }

#legendBox {
  background: white;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px 5px; }
  #legendBox span {
    display: block; }
    #legendBox span a {
      color: #3867c8 !important; }

#land-selector, .land {
  background-position: 0 0; }

  #terreng-selector, .terreng {
    background-position: 0 -50px; }

    #enkel-selector, .enkel {
      background-position: 0 -100px; }

      #flybilder-selector, .flybilder {
        background-position: 0 -150px; }

        #sjo-selector, .sjo {
          background-position: 0 -200px; }

          #svalbard-selector, .svalbard {
            background-position: 0 -250px; }

            #janmayen-selector, .janmayen {
              background-position: 0 -300px; }

              .times {
                background-color: #b6afa8;
                color: white;
                height: 18px;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 18px; }

                .draw-hide-fix .Draw-button {
                  display: none; }

                  #embed-basic-toolbar {
                    background-color: #dfdcda;
                    width: 60px; }
                    #embed-basic-toolbar #zoom-panel {
                      margin: 10px 10px 0px 10px; }
                      #embed-basic-toolbar #pan-panel {
                        margin-bottom: 10px; }
                        #embed-basic-toolbar .collapse-toolbar-toggle {
                          position: relative;
                          text-indent: -9999px;
                          width: 100%; }
                          #embed-basic-toolbar .collapse-toolbar-toggle:after {
                            border: 10px solid transparent;
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            margin-left: -10px; }
                            #embed-basic-toolbar .collapse-toolbar-toggle.on {
                              display: none; }
                              #embed-basic-toolbar .collapse-toolbar-toggle.on:after {
                                top: 10px;
                                border-top-color: white; }
                          #embed-basic-toolbar .collapse-toolbar-toggle.off {
                            display: block; }
                            #embed-basic-toolbar .collapse-toolbar-toggle.off:after {
                              bottom: 10px;
                              border-bottom-color: white; }
                    #embed-basic-toolbar.collapsed #zoom-panel,
                    #embed-basic-toolbar.collapsed #pan-panel {
                      display: none; }
                      #embed-basic-toolbar.collapsed .collapse-toolbar-toggle.on {
                        display: block; }
                        #embed-basic-toolbar.collapsed .collapse-toolbar-toggle.off {
                          display: none; }
