$geonorge-header-height: 120px;
$toolbar-width: 40px;
$padding-gutter: 10px;
$padding-gap: 5px;

$font-raleway: "Raleway", sans-serif;
$font-opensans: "Open Sans", sans-serif;

$color-black: rgb(0,0,0);
$color-black-50: rgba(0,0,0,0.5);
$color-white: rgb(255,255,255);
$color-white-90: rgba(255,255,255,0.9);
$color-orange: rgb(254, 80, 0);
$color-orange-90: rgba(254, 80, 0, 0.90);
$color-orange-10: rgba(254, 80, 0, 0.10);
$color-blue: rgb(125,161,196);
$color-blue-dark: rgb(56, 103, 200);
$color-purple: rgb(93, 71, 119);
$color-grey: rgb(223,220,218);
$color-grey-80: rgba(223,220,218,0.8);
$color-grey-darkest: rgb(65,64,66);

%default-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}
%panel-button {
    @extend %default-button;
    background-color: $color-blue;
    height: 30px;
    padding: $padding-gap;
    width: 30px;
    
    &:hover {
        background-color: $color-orange;
    }
    
    .icon {
        fill: $color-white;
        height: 100%;
        width: 100%;
    }
}
%panel-layout {
    background-color: $color-grey-80;
    box-sizing: border-box;
    padding: $padding-gap;
    position: relative;
    width: $toolbar-width;
}
%widget-fixed {
    background-color: $color-grey;
    box-shadow: 0px 0px 10px $color-black-50;
    display: none;
    margin-top: $geonorge-header-height + $padding-gutter;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
}

/*$font-raleway: "Raleway", sans-serif;*/

.hidden {
    display: none !important;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

html,
body {
    height: 100%;
    widht: 100%;
}
html {
    font-size: 10px;
}
body {
    font-family: $font-opensans;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

/* HEADER */
.geonorge-simple {
    background-color: $color-white-90;
    height: $geonorge-header-height;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    
    .wrapper {
        margin: 0px auto;
        width: 940px;
    }
    
    .logo {
        height: 60px;
        padding: 15px;
    }
    
    .breadcrumbs {
        height: 30px;
        padding: 0px 15px;
        
        ul {
            font-family: $font-raleway;
            font-size: 14px;
            font-weight: 500;
            height: 30px;
            line-height: 30px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        li {
            float: left;
            
            &.arrowed {
                background-image: url(img/breadcrumb-arrow.svg);
                background-position: 0px 50%;
                background-repeat: no-repeat;
                background-size: 8px 8px;
                margin-left: 6px;
                padding-left: 14px;
            }
        }
        a {
            color: $color-blue-dark;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.fullscreen {
    .geonorge-simple {
        display: none;
    }
}

.toolbar {
    position: absolute;
    z-index: 1000;
}
.panel-name {
    display: none;
}

/* CONTROLS */
.olControlScaleLine {
    bottom: $padding-gutter;
    left: 80px;
}

#overview-container-panel {
    bottom: $padding-gutter;
    position: absolute;
    right: $padding-gutter;
    z-index: 900;
    
    .olControlOverviewMapExpandableElement {
        background-color: $color-grey;
        border: solid 1px $color-orange;
    }
    
    .olControlOverviewMapExpandableExtentRectangle {
        background-color: $color-orange-10;
        border: dotted 1px $color-orange;
        box-sizing: border-box;
    }
    
    .olControlOverviewMapExpandableToggleSizeButton {
        @extend %default-button;
        height: 12px;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 12px;
        
        .icon {
            height: 12px;
            width: 12px;
            
            &.expand {
                display: block;
            }
            &.minimize {
                display: none;
            }
        }
    }
    
    &.maximized-size .icon {
        &.expand {
            display: none;
        }
        &.minimize {
            display: block;
        }
    }
}

/* TOOLBARS AND PANELS */
#basic-toolbar,
#top-toolbar,
#misc-toolbar {
    top: $geonorge-header-height + $padding-gutter;
}
.fullscreen {
    #basic-toolbar,
    #top-toolbar,
    #misc-toolbar {
        top: $padding-gutter;
    }
}
#basic-toolbar,
#bottom-toolbar {
    left: $padding-gutter;
    
    .widget {
        left: $toolbar-width + ($padding-gutter * 2);
    }
}
#top-toolbar {
    right: $padding-gutter;
    
    .widget {
        right: $toolbar-width + ($padding-gutter * 2);
    }
}
#bottom-toolbar {
    bottom: $padding-gutter;
}
#misc-toolbar {
    left: $toolbar-width + ($padding-gutter * 2);
}

#fullscreen-panel {
    @extend %panel-layout;
    
    button {
        @extend %panel-button;
    }
    
    .fullscreen-button {
        .fullscreen {
            display: inline-block;
        }
        .windowed {
            display: none;
        }
    }
    .fullscreen-active {
        .fullscreen {
            display: none;
        }
        .windowed {
            display: inline-block;
        }
    }
}

/* MISC */
#geonorge-logo-panel {
    display: none;
    left: $toolbar-width + ($padding-gutter * 2);
    position: fixed;
    top: $padding-gutter;
    
    a {
        height: 20px;
        display: block;
    }
    img {
        border: none;
        display: block;
        height: 20px;
    }
}
.fullscreen {
    #geonorge-logo-panel {
        display: block;
    }
}

#language-button {
    @extend %default-button;
    background-color: $color-blue;
    color: $color-white;
    width: 100%;
    
    &:hover {
        background-color: $color-orange;
    }
}

/* BOTTOM */
#layerselector-panel {
    .vectorWidgetToggleBtn {
        background-image: url('img/raster-thumbs.png');
        background-repeat: no-repeat;
        box-shadow: 0px 0px 5px $color-black-50;
        cursor: pointer;
        height: 50px;
        width: 60px;
    }
    .layersDiv {
        position: relative;
    }
    .widget {
        bottom: 0px;
        display: none;
        left: 100%;
        position: absolute;
    }
    .show {
        .widget {
            display: block;
        }
    }
}

/* BASIC */
#zoom-panel {
    display: none;
    width: $toolbar-width;
    
    button {
        @extend %panel-button;
    }
}

#pan-panel {
    height: 60px;
    position: relative;
    width: 60px;
    
    .olButton {
        @extend %default-button;
        background-color: $color-blue;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10px;
        height: 20px;
        position: absolute;
        width: 20px;
        
        &:hover {
            background-color: $color-orange;
        }
    }
    .olControlPanNorthItemInactive {
        background-image: url(img/arrow-n.svg);
        left: 20px;
        top: 5px;
    }
    .olControlPanSouthItemInactive {
        background-image: url(img/arrow-s.svg);
        left: 20px;
        top: 35px;
    }
    .olControlPanEastItemInactive {
        background-image: url(img/arrow-e.svg);
        left: 35px;
        top: 20px;
    }
    .olControlPanWestItemInactive {
        background-image: url(img/arrow-w.svg);
        left: 5px;
        top: 20px;
    }
}

#search-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .searchDiv {
        display: none;
        left: 50%;
        margin-left: -150px;
        position: fixed;
        top: $geonorge-header-height + $padding-gutter;
        width: 300px;
        
        form {
            background-color: $color-grey;
            height: 30px;
            padding: 10px;
            
            input,
            button {
                background: $color-white;
                border: none;
                float: left;
                height: 30px;
            }
            
            input {
                padding: 0px 10px;
                width: 250px;
            }
            button {
                cursor: pointer;
                fill: $color-grey;
                padding: 3px 3px 0px 6px;
                width: 30px;
            }
        }
        
        .times {
            @extend %default-button;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .searchDiv {
            display: block;
        }
    }
}
#searchResults {
    background-color: $color-grey;
    height: 400px;
    margin-top: $padding-gutter;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
    
    .close {
        display: block;
        float: right;
        height: 16px;
        margin: 2px;
        overflow: hidden;
        text-indent: -9999px;
        width: 16px;
        
        svg {
            float: none;
            fill: none;
            margin: 0px;
            stroke: $color-black;
        }
    }
    
    .result-paging {
        font-size: 1.2rem;
        height: 20px;
        line-height: 20px;
        
        button {
            @extend %default-button;
            background: $color-blue;
            color: $color-white;
            float: right;
            font-size: 1.2rem;
            height: 20px;
            margin-right: 10px;
            padding: 0px 6px;
            
            &:hover {
                background-color: $color-orange;
            }
        }
    }
    
    .result-category {
        margin-top: $padding-gutter;
        
        .icon {
            display: inline-block;
            height: 20px;
            vertical-align: bottom;
            width: 20px;
        }
        h2 {
            display: inline-block;
            font-size: 1.4rem;
            height: 20px;
            margin: 0px 0px 0px 10px;
        }
        ul {
            font-size: 1.1rem;
            list-style-type: none;
            margin-top: $padding-gap;
            padding: 0px;
        }
        li {
            cursor: pointer;
            height: 18px;
            line-height: 18px;
            margin-bottom: 2px;
            word-break: keep-all;
            
            .municipality-name {
                font-weight: 700;
            }
            
            select {
                background: $color-white;
                border: none;
                float: right;
                font-size: 1.1rem;
                height: 18px;
            }
        }
    }
}

#geoportal-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
        bottom: $padding-gutter;
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

#addlayer {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

#draw-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
        bottom: $padding-gutter;
        
        ul {
            list-style: none;
            margin: 0px auto;
            padding: 10px 0px 0px 0px;
            width: 80px;
            
            li {
                margin-bottom: $padding-gap;
                margin-left: 20px;
                margin-right: 20px;
                width: 40px;
                
                span {
                    display: none;
                }
                &.text-only {
                    margin-left: 0px;
                    margin-right: 0px;
                    width: 80px;
                    
                    span {
                        display: block;
                    }
                }
            }
            
            button {
                @extend %default-button;
                
                background-color: $color-blue;
                color: $color-white;
                font-weight: 700;
                height: 40px;
                padding: 5px;
                width: 100%;
                
                &:hover,
                &.active {
                    background-color: $color-orange;
                }
                
                svg {
                    fill: $color-white;
                    height: 30px;
                    stroke: $color-white;
                    width: 30px;
                }
            }
        }
        
        .measures {
            dt {
                display: none;
                font-weight: 700;
            }
            dd {
                display: none;
                margin: 0px;
            }
            
            &.point {
                .lat,
                .lon {
                    display: block;
                }
            }
            &.line {
                .lat,
                .lon,
                .length {
                    display: block;
                }
            }
            &.area {
                .lat,
                .lon,
                .length,
                .area {
                    display: block;
                }
            }
        }
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

#transformations-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
        bottom: $padding-gutter;
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

#print-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        display: none;
    }
}

#getURL-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

#embed-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
        bottom: $padding-gutter;
    }
    
    .active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
    
    .cnt {
        width: 450px;
    }
    
    .step-specific {
        &.type {
            button {
                @extend %default-button;
                background-color: $color-blue;
                border-radius: 10px;
                height: 210px;
                margin: 1%;
                padding: 10px;
                vertical-align: top;
                width: 48%;
                
                &:hover {
                    background-color: $color-orange;
                }
                
                span {
                    color: $color-white;
                }
            }
            .illustration {
                stroke: $color-white;
                width: 100%;
            }
            
            & + .buttons-panel {
                display: none;
            }
        }
    }
    
}

#export-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
        bottom: $padding-gutter;
    }
    
    .active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
    
    .cnt {
        width: 300px;
    }
}

#help-panel {
    @extend %panel-layout;
    
    .nkButton {
        @extend %panel-button;
    }
    
    .widget {
        @extend %widget-fixed;
    }
    
    &.active {
        .nkButton {
            background-color: $color-orange;
        }
        .widget {
            display: block;
        }
    }
}

/* WIDGETS */
.wrapper {
    .cnt {
        box-sizing: border-box;
        padding: 20px;
        position: relative;
        
        header {
            position: relative;
        }
        
        h1 {
            color: $color-purple;
            font-family: $font-raleway;
            font-size: 3.2rem;
            font-weight: 300;
            margin: 0px 0px 15px 0px;
            position: relative;
            
            &:after {
                border-bottom: solid 2.5px $color-orange;
                content: "";
                height: 2.5px;
                left: 0px;
                margin-top: 4.0rem;
                position: absolute;
                width: 50px;
            }
        }
        h2 {
            color: $color-grey-darkest;
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 5px;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 100%;
            
            th,
            td {
                border: solid 1px $color-black;
                padding: 4px;
                text-align: left;
            }
        }
        
        .progress {
            height: 20px;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            
            li {
                background-color: $color-blue;
                border-radius: 50%;
                color: $color-white;
                display: block;
                float: left;
                font-size: 0;
                height: 20px;
                margin-left: 5px;
                line-height: 20px;
                text-align: center;
                width: 20px;
                
                .step-number {
                    cursor: default;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
            &.info-active .info,
            &.earea-active .earea,
            &.format-active .format,
            &.type-active .type,
            &.terms-active .terms,
            &.area-active .area,
            &.markers-active .markers,
            &.descriptions-active .descriptions,
            &.preview-active .preview,
            &.output-active .output {
                background-color: $color-orange;
            }
        }
        
        .buttons-panel {
            border-top: solid 1px $color-blue;
            margin-top: 10px;
            padding-top: 15px;
            
            button {
                @extend %default-button;
                background-color: $color-blue;
                color: $color-white;
                margin-right: 5px;
                padding: 5px;
                
                &:hover {
                    background-color: $color-orange;
                }
                &.next {
                    float: right;
                }
            }
        }
    }
}

.user-marker {
    background-color: $color-grey;
    
    .edit-popup-content {
        height: 45px;
        width: 280px;
    }
    input {
        border: none;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        height: 20px;
        margin-bottom: 5px;
        padding: 0px 5px;
        width: 100%;
    }
    button {
        @extend %default-button;
        background-color: $color-blue;
        color: $color-white;
        font-size: 12px;
        height: 20px;
        margin-right: 2%;
        width: 49%;
        
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $color-orange;
        }
    }
}

.getURLcontent {
    .page-url {
        background: $color-white;
        font-family: monospace;
        font-size: 1.2rem;
        margin-bottom: 10px;
        padding: 5px;
        word-break: keep-all;
    }
    
    & > span {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        vertical-align: top;
    }
    
    .share-link {
        display: inline-block;
        margin-left: 10px;
        
        span {
            display: none;
        }
        
        .icon {
            fill: $color-grey-darkest;
            height: 25px;
            width: 25px;
        }
        &:hover .icon {
            fill: $color-orange;
        }
    }
}

/* EMBED */
.embedLight {
    background-color: $color-black-50;
    left: 0;
    position: fixed;
    top: $geonorge-header-height;
    z-index: 800;
}
#embedLightOFbase {
    bottom: 0;
    right: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: RGB(240, 240, 240) none repeat 0 0;
}
#embedLightOFsquare {
    border: 1px solid RGB(0, 0, 0);
    background: transparent none repeat 0 0;
}
#embedLightOFtop {
    z-index: 810;
}
#embedLightOFbottom {
    z-index: 810;
}

.markers-list {
    font-size: 12px;
    padding-left: 15px;
    
    li {
        height: 20px;
        line-height: 20px;
        
        span {
            color: $color-grey-darkest;
        }
    }
    
    .remove-marker {
        display: block;
        float: right;
        height: 16px;
        margin: 2px;
        width: 16px;
        
        .icon {
            fill: transparent;
            height: 100%;
            stroke: $color-blue;
            stroke-width: 3px;
            width: 100%;
        }
        &:hover .icon {
            stroke: $color-orange;
        }
        
        span {
            display: none;
        }
    }
}

select,
input {
    &.form-control {
        background: $color-white;
        border: none;
        box-sizing: border-box;
        font-size: 12px;
        height: 20px;
        margin-bottom: 5px;
        padding: 0px 5px;
        width: 100%;
    }
}
button {
    &.btn {
        background: $color-blue;
        border: none;
        cursor: pointer;
        color: $color-white;
        font-size: 12px;
        height: 20px;
        
        &:hover {
            background: $color-orange;
        }
    }
}
label {
    &.lbl {
        display: block;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 4px;
    }
}
fieldset {
    &.fld {
        border: solid 1px $color-blue;
        margin: 15px 0;
        
        legend {
            font-size: 11px;
            font-weight: 700;
        }
    }
}
.radio {
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    
    input {
        margin: 0px 4px 0px 0px;
        vertical-align: sub;
    }
}

.fullscreen {
    .widget {
        bottom: auto !important;
        margin-top: $padding-gutter !important;
    }
}

#transformations-output {
    font-size: 1.2rem;
    
    .output-label,
    .output-value {
        box-sizing: border-box;
        display: inline-block;
    }
    .output-label {
        width: 33%;
    }
    .output-value {
        font-weight: 700;
        width: 67%;
    }
}

.heading {
    position: relative;
    
    .close {
        @extend %default-button;
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.tabs {

    nav {
        border-bottom: solid 1px $color-orange;
        height: 20px;
        line-height: 20px;
        
        a {
            background: $color-blue;
            border-radius: 5px 5px 0px 0px;
            color: $color-white;
            display: inline-block;
            height: 20px;
            padding: 0 10px;
            text-decoration: none;
            
            &.active {
                background: $color-orange;
            }
        }
    }
    
    .tab {
        display: none;
        
        &.active {
            display: block;
        }
    }
}

#layerList {
    .layersDiv {
    & > div {
        font-weight: 700;
        margin: 10px 0px;
        
        button {
            @extend %default-button;
        }
    }
    
    table {
        th,
        td {
            border: none;
            padding: 0px;
        }
    }
    }
}