.fullscreen-button,
.olControlZoomIn,
.olControlZoomOut,
.getURL-button,
.zoom-to-selection-button,
.emergency-poster-button,
.Print-button,
.help-button,
.embed-button,
.Transformations-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.fullscreen-button,
.zoom-to-selection-button {
  width: 40px;
  height: 40px;
}
.fullscreen-button {
  background-image: url('img/fullscreen-icon.png');
}
.fullscreen-button.fullscreen-active {
  background-image: url('img/windowed-icon.png');
}
.olControlZoomIn {
  background-image: url('img/plus-icon.png');
}
.olControlZoomOut {
  background-image: url('img/minus-icon.png');
}
.getURL-button {
  background-image: url('img/geturl.png');
}
.zoom-to-selection-button {
  background-image: url('img/zoom-to-selection-icon.png');
  background-position: 60% 50%;
}
.emergency-poster-button {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABzElEQVR42q2Uz0vCYBjHXZuGaQbiqYZEsVMHMfAW3fJUJ4/9+iMGeigiCCKog8eO3Qw8eRI0JFCog4IiIjIPgggijQSVmZu+PaM5HM7cnF/4HrZnz+d99vC8j0mHMIUXEcMwpm63u9vv928Gg0EaSeI4Lt1qtR5SqdS+y+WywKe45kMEQdgcDofvaI56vd5HNBr1QsoqeOVfKACPkE5ls9lzSF0DE7Og3lnJQqmE+FwO8fm8ajyZTB5LcFwBhZgV/DML/O3xoC8cR6zTqRqHojiapncAZVW0BWJ3CKQPrFSj0XgG1DrYPIYSCGQUPBqN+EAgsCVXDe/2DIJlJRKJE4DawLgIPlOc3G6LEM0WikU5t1wuh+R2wDO9LHCtVnucBF8qwJ0Oavt8CrN2+x/IYpmKCQwj51ar1dtJ8OGyepzJZE4BagcTItixLHAwGKTEizKeCtFvRsGwtD4B6JB2Bzae5W2j4EgkcqB6rWHAr9GCqtfrT1JvzVNrFOIYwF/0QlmWfaUoamMaqoSL+/hCKxTGK0SSpE2cAk0LH5a4jef5K7WNB3/Vazab9+FwmJSqXDHpVSwWwyqVigMqcxcKBXc8Hnf5/X5ChM2r8BcJ3WFgq//LGwAAAABJRU5ErkJggg==');
}

#searchResults .h {
  padding-left: 36px;
  background-repeat: no-repeat;
  background-position: left 50%;
}
#searchResults .areas .h {
  background-image: url('img/area-search-icon.png');
}
#searchResults .addresses .h {
  background-image: url('img/address-icon.png');
}
#searchResults .objects .h {
  background-image: url('img/object-icon.png');
}
.splashscreen .overlay {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);   /* IE6 & 7 */
    zoom: 1;
}
#map.select-emergency-poster-point {
  cursor: crosshair;
}
.Print-button {
  background-image: url('img/print-icon.png');
}

.help-button {
  background-image: url('img/help-icon.png');
}

.Transformations-button {
  background-image: url('img/transformations-icon.png');
}

.share-link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 5px;
  margin-right: 5px;
  height: 26px;
}

.share-link.email {
  background-image: url('img/email.png');
}

.share-link.twitter {
  background-image: url('img/twitter.png');
}

.share-link.facebook {
  background-image: url('img/facebook.png');
}

.embed-button {
  background-image: url('img/embed-icon.png');
}

.progress:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  top: 50%;
  position: absolute;
}
#embed-panel .progress li {
  margin-right: 0px;
  margin-left: 0px;
}
#embed-panel .progress li.type {
  margin-right: 0px;
  margin-left: 0px;
}
#embed-panel .progress li + li {
  margin-right: 0px;
  margin-left: 10px;
}
#embed-panel .progress li span {
  color: #616060;
}

#getURL-panel .page-url,
#embed-panel .output-code {
  -ms-word-break: break-all;
  overflow: hidden;
  white-space: normal;
}

