/* line 1, ../../../openlayers/theme/norgeskart/print.scss */
.olMapViewport {
  overflow: visible !important;
}

/* line 4, ../../../openlayers/theme/norgeskart/print.scss */
#map {
  max-height: 100%;
}

/* line 8, ../../../openlayers/theme/norgeskart/print.scss */
.toolbar,
.splashscreen {
  display: none;
}

/* line 11, ../../../openlayers/theme/norgeskart/print.scss */
body {
  width: 1000px;
}

/* line 16, ../../../openlayers/theme/norgeskart/print.scss */
#search-toolbar.toolbar {
  background: #FFFFFF none repeat 0 0;
  position: absolute;
  margin: -110px 0 0 0;
  top: 100%;
  left: 10px;
  display: block;
}
/* line 24, ../../../openlayers/theme/norgeskart/print.scss */
#search-toolbar.toolbar #search-panel {
  display: none;
}
